<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/st.css}" href="../static/css/st.css">
</head>
<link rel="stylesheet" type="text/css" href="st.css">
<body>


       <h3> Selecciona una opción </h3>
       <br>
       <br>
       
       <div class="container">
         <div >
           <a th:href="@{/listar}" class="butt-mesas" >Proveedores </a>	
        </div>
        <div >
          <a th:href="@{/listar2}" class="butt-mesas" >Productos </a>	
        </div>
       </div>
       







 
		 
</body>

</html>